{% extends 'base.html' %}

{% block title %}Modificar Perfil{% endblock %}


{% block content %}
<div class="modif-container">
    <div class="modif-header">
        <h2>Modificar Perfil</h2>
    </div>
    

    <div class="modif-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        
            <div class="button-container">
                <button type="submit">Guardar Cambios</button>
            </div>
        </form>

        <a href="{% url 'perfil' %}" class="btn"> Volver al perfil</a>

    </div>
</div>





{%endblock%}
