{% extends 'base.html' %}

{% block titulo %} Admin - Lista Usuarios {% endblock %}

{% block contenido %}
<div>
    <h2 class="fs-1 text-center mt-3" style="font-family: var(--primary-font);">Lista de Usuarios</h2>

    {% for usuario in usuarios %}
    <div class="card flex-row w-100 px-5 my-2 position-relative">
        <!-- Lado Izquierdo: Imagen -->
        <img src="{{ usuario.profile_image.url }}" class="card-img-left" alt="Imagen" style="width: 150px;">

        <!-- Centro: 4 párrafos en columna -->
        <div class="d-flex flex-column p-3 mx-5 px-5">
            <p class="mb-1"> <span class="fw-semibold">Usuario:</span> {{ usuario.usuario }} </p>
            <p class="mb-1"> <span class="fw-semibold">Nombre Completo:</span> {{ usuario.nombre }} {{ usuario.apellido }} </p>
            <p class="mb-1"> <span class="fw-semibold">Email:</span> {{ usuario.email }} </p>
            <p class="mb-1"> <span class="fw-semibold">Estado:</span> {% if usuario.is_active == True %} Activo {% else %} Inactivo {% endif %} </p>
            <p class="mb-1"> <span class="fw-semibold">Grupo:</span> {% if usuario.groups.first.name == 'Contribuidores' %} Contribuidores {% else %} None {% endif %} </p>
        </div>

        <!-- Lado Derecho: 3 botones en fila -->
        {% if not usuario.is_superuser %}
        <div class="d-flex flex-column align-items-center pr-3 ms-5 me-2 position-absolute end-0 bottom-0">
            {% if usuario.is_active %}
            <!--DESACTIVAR USUARIO-->
            <a href="{% url 'desactivar_usuario' usuario.pk %}" class="btn btn-danger btn-sm me-3 d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-down" viewBox="0 0 16 16"><path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/></svg>
                Desactivar
            </a>
            {% else %}
            <!--ACTIVAR USUARIO-->
            <a href="{% url 'activar_usuario' usuario.pk %}" class="btn btn-primary btn-sm me-3 d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-up" viewBox="0 0 16 16"><path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/></svg>
                Activar
            </a>
            {% endif %}

            {% if not usuario.groups.first.name == 'Contribuidores' %}
            <!--AGREGAR AL GRUPO-->
            <a href="{% url 'agregar_contribuidor' usuario.pk %}" class="btn btn-success btn-sm d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16"><path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/></svg>
                Contribuidor
            </a>
            {% else %}
            <!--ELIMINAR DEL GRUPO-->
            <a href="{% url 'eliminar_contribuidor' usuario.pk %}" class="btn btn-warning btn-sm d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16"><path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/></svg>
                Eliminar
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}