{% extends 'base.html' %}

{% block title %}Inicio de Sesión{% endblock %}

{% block contenido %}
    <div class="login-container">
        <div class="login-header">
            <h2>Inicio de Sesión</h2>
        </div>
        
        <div class="login-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }} 
                {% endfor %}
                <div class="button-container">
                    <button type="submit">Iniciar Sesión</button>
                </div>
                <p>¿No tenes cuenta? <a href="{%url 'registro' %}">Registrate</a></p>
            </form>
        </div>
    </div>
{% endblock %}