{% extends 'base.html' %}

{% block title %}Películas{% endblock %}

{% block contenido %}
<div class="container">

    <h2>Lista de Contenido</h2>
    
    <div class="d-flex flex-column">
    {% for contenido in contenidos %}
    
        <div class="card my-5">
            <div class="row g-0">
                <div class="col-md-3" style="max-height: 400px;">
                    <img src="{{ contenido.portada_img.url }}" alt="Portada" class="img rounded-start" style="max-height: 100%; min-width: 100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5>{{ contenido.nombre }}</h5>
                        <a href="{% url 'admin_eliminar_contenido' contenido.pk %}" class="btn btn-danger">Eliminar</a>

                        <a href="{% url 'puntuar_contenido' contenido.pk %}" class="btn btn-warning">Puntuar</a>
                    </div>
                </div>
            </div>
        </div>
    
    {% endfor %}
    </div>  
</div>
{% endblock %}