{% extends 'base.html' %}

{% block titulo %}AltaPeli - Detalle{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ contenido.nombre }}</h3>
                    <div>
                        <img src="{{ contenido.portada_img.url }}" alt="Movie Cover" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Trailer</h3>
                    <video controls style="width: 100%;"> 
                        <source src="{{ contenido.trailer_url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reseñas</h3>
                    {% if puntuaciones %}
                    <ul>
                        {% for puntuacion in puntuaciones %}
                            <li>
                                <strong>{{ puntuacion.usuario.nombre }}:</strong> 
                                <span>Puntaje: {{ puntuacion.puntaje }}/10</span>
                                <p>{{ puntuacion.comentario }}</p>
                
                                {% if puntuacion.usuario == request.user %}
                                    <form method="POST" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="puntuacion_id" value="{{ puntuacion.id }}">
                                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta reseña?');">Eliminar</button>
                                    </form>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No hay reseñas para esta película o serie.</p>
                    {% endif %}
                    <div class="boton-agregar">
                        <a href="{% url 'puntuar_contenido' contenido.id %}" class="button">Añadir Reseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}