{% extends 'base.html' %}

{% block titulo %}AltaPeli Comunidad{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% for reseña in reseñas %}
        <div class="col-lg-6 col-md-8 col-sm-10 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="cstm__profile-image me-3">
                            <img src="{{ reseña.usuario.profile_image.url }}" alt="Img" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="fs-6 mb-1">{{ reseña.usuario.usuario }}</h5>
                            <div class="rating d-flex justify-content-end">
                                {% for i in "54321" %}
                                <input value="{{ i }}" name="puntaje_{{ reseña.id }}" id="star{{ i }}_{{ reseña.id }}" type="radio" {% if reseña.puntaje|stringformat:"d" == i %}checked{% endif %} disabled>
                                <label title="{{ i }} estrellas" for="star{{ i }}_{{ reseña.id }}" class="me-1"></label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <img src="{{ reseña.pelicula_serie.portada_img.url }}" class="img-fluid rounded" alt="Portada">
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between">
                            <h5 class="card-title fs-4">{{ reseña.pelicula_serie.nombre }}</h5>
                            <textarea class="form-control mt-2" rows="3" placeholder="{{ reseña.comentario }}" disabled style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
