.registro-container{
       font-family: var(--primary-font);
       font-size: 40px;
       text-align: center;
       padding: 20px;
}

.registro-header{
       margin-bottom: 20px;
}

.registro-form{
       background-color: var(--gray);
       margin: 5px;
       padding: 25px;
       border-radius: 10%;
}

.registro-form h2 {
       font-family: var(--primary-font);
       color: var(--primary-color); 
       margin-bottom: 20px;
   }
   
   .registro-form input {
       font-family: var(--primary-font);
       border: 1px solid var(--gray);
       border-radius: 5px;
       padding: 10px;
       margin-bottom: 10px;
       font-size: 16px; 
   }
   
   .registro-form button {
       font-family: var(--primary-font);
       background-color: var(--primary-color);
       color: var(--white);
       padding: 10px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s;
   }
   
   .registro-form button:hover {
       background-color: var(--primary-color-dark);
   }

   .registro-form label {
       font-family: var(--primary-font); /* Aplica la misma fuente */
       color: var(--gray-dark); /* Color del texto, puedes ajustar esto según sea necesario */
       display: block; /* Asegúrate de que cada label esté en su propia línea */
       margin-bottom: 5px; /* Espacio entre el label y el input */
       font-size: 16px; /* Asegúrate de que el tamaño de la fuente sea coherente */
   }
   
   