{% extends 'base.html' %}

{% block title %}Registro{% endblock %}





{% block contenido %}
<div class="registro-container"> <!-- Contenedor general -->
       <div class="registro-header"> <!-- Div para el encabezado -->
           <h2>Registro de Usuario</h2>
       </div>
   
       <div class="registro-form"> <!-- Div para el formulario -->
           <form method="post">
               {% csrf_token %}
               {% for field in form %}
                   <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                   {{ field }} <!-- Esto renderiza el input -->
               {% endfor %}
           </form>

           <button type="submit"> Registrarse</button>
       </div>
   </div>
{%endblock%}


