.modif-container{
       font-family: var(--primary-font);
       font-size: 40px;
       text-align: center;
       padding: 20px;
       background-color: var(--primary-color-dark);
       width: 600px;
       height: 900px;
       margin: 30px;
       border-radius: 25px;
}

.modif-header{
       margin-bottom: 20px;
       padding: 0;
       background-color: var(--primary-color-dark);
}

.oculto{
       visibility: hidden;
}

.mostrar{
       visibility: visible;
}

.modif-header h2{
       font-family: var(--primary-font);
       font-size: 60px;
       color: var(--primary-color);
       margin-bottom: 40px;
}

.modif-form{
       background-color: var(--gray);
       margin: 5px;
       padding: 25px;
       border-radius: 10%;
}

.modif-form h2 {
       font-family: var(--primary-font);
       color: var(--primary-color); 
       margin-bottom: 20px;
}

.modif-form input {
       font-family: var(--primary-font);
       border: 1px solid var(--gray);
       border-radius: 5px;
       padding: 10px;
       margin-bottom: 10px;
       font-size: 16px;
       text-align: center;
}

.modif-form button {
       font-family: var(--primary-font);
       background-color: var(--primary-color);
       color: var(--white);
       padding: 10px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s;
}

.modif-form button:hover {
       background-color: var(--primary-color-dark);
}

.modif-form label {
       font-family: var(--primary-font); 
       color: var(--gray-dark); 
       display: block; 
       margin-bottom: 5px; 
       font-size: 16px; 
}

.btn{
       display: inline-block;
       padding: 10px 20 px;
       margin: 10px 0;
       color: var(--white);
       text-decoration: none;
       border-radius: 5px;
       font-size: 1.2rem;
       text-transform: uppercase;
       transition: background-color 0.3s;
}
